@font-face {
  font-family: "inter";
  src: url("../font/Inter.ttf") format("truetype");
}

.container {
  margin: 40px;
}

.container-35 {
  display: flex;
  align-items: stretch;
  margin-right: 35px;
  margin-left: 35px;
}

.container-colom {
  display: flex;
  align-items: stretch;
  /* border-radius: 0;
  border: none; */
}
.clm-6 {
  width: 50%;
}

.clm-4{
  width: 33,33%;
}
.clm-25 {
  width: 25%;
}
.clm-30 {
  width: 30%;
}

.clm-35 {
  width: 35%;
}

.clm-4 {
  width: 40%;
}

.clm-75 {
  width: 75%;
}
.clm-12 {
  width: 100%;
}

.clm-3 {
  width: 20%;
}

.align-item-x-center{
 align-items: center;
}

.center {
  display: flex;
  justify-content: center;
}

.flex-align-item-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-align-item-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.centered-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.end {
  margin-left: auto;
  margin-top: 14%;
}

.navbar-size {
  height: 120px;
  width: 100%;
}

.flex-container {
  display: flex;
}

.card {
  background-color: #ffff;
  border: none;
  border-radius: 0;
}

.boxCard {
  background-color: #ffff;
  border: none;
  border-radius: 0;
}

/* start margin */

/* bg color start */
.bg-blue {
  background-color: #81c0ff;
}

.bg-green {
  background-color: #00917c;
}

.bg-grey {
  background-color: #f2f2f2;
}

.bg-red {
  background-color: #c62c11;
}

.bg-red-heart {
  background-color: #7e0b02;
}

.bg-purple {
  background-color: #a44cd3;
}

/* bg color end */
.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.mbt-10 {
  margin-bottom: 10px;
}

.mtp-10 {
  margin-top: 10px;
}

.mtp-15 {
  margin-top: 15px;
}

.mtp-20 {
  margin-top: 20px;
}

.mtp-25 {
  margin-top: 25px;
}

.mtp-35 {
  margin-top: 35px;
}

.mtp-37 {
  margin-top: 37px;
}

.mtp-50 {
  margin-top: 50px;
}

.mtp-75 {
  margin-top: 75px;
}

.mlf-10 {
  margin-left: 10px;
}

.mlf-120 {
  margin-left: 120px;
}

.mlf-15 {
  margin-left: 15px;
}

.mlf-20 {
  margin-left: 20px;
}

.mlf-25 {
  margin-left: 25px;
}

.mlf-35 {
  margin-left: 35px;
}

.mlf-30 {
  margin-left: 30px;
}

.mlf-50 {
  margin-left: 50px;
}

.mlf-70 {
  margin-left: 70px;
}

.mlf-28 {
  margin-left: 25%;
}

.mrg-10 {
  margin-right: 10px;
}

.mrg-35 {
  margin-right: 35px;
}
.mrg-50 {
  margin-right: 50px;
}

.mrg-15 {
  margin-right: 15px;
}

.mbt-10 {
  margin-bottom: 10px;
}
.mbt-15 {
  margin-bottom: 15px;
}
.mbt-20 {
  margin-bottom: 20px;
}
.mbt-25 {
  margin-bottom: 25px;
}

/* end margin */

.menu2 {
  margin-left: 104px;
}

.menu1 {
  margin-left: 60px;
}

.user-menu {
  display: flex;
  align-items: center;
  margin-left: auto; /* Tambahkan margin kiri otomatis */
}
.br-10 {
  border-radius: 10px;
}
/* padding start */
.pd-5 {
  padding: 5px;
}

.pd-10 {
  padding: 10px;
}
.pd-15 {
  padding: 15px;
}
.pd-20 {
  padding: 20px;
}
/* padding end */

.widht-278 {
  width: 278px;
}

.width-794 {
  width: 794px;
}

.width-613{
  width: 613px;
}
/* start font */

.inter-20 {
  font-family: "inter";
  font-size: 20px;
  /* color: black; */
}

.inter-23 {
  font-family: "inter";
  font-size: 23px;
  color: black;
}

.inter-25 {
  font-family: "inter";
  font-size: 25px;
  color: black;
}

.inter-30 {
  font-family: "inter";
  font-size: 30px;
  color: black;
}

.inter-50 {
  font-family: "inter";
  font-size: 50px;
  color: black;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.fw-bold {
  font-weight: bold;
}

.fs-20 {
  font-size: 20px;
  font-family: "inter";
}

.fs-25 {
  font-size: 25px;
  font-family: "inter";
}

.fs-17 {
  font-size: 15px;
  font-family: "inter";
}

.fs-30 {
  font-size: 30px;
  font-family: "inter";
}

.fs-35 {
  font-size: 35px;
  font-family: "inter";
}

.fs-38 {
  font-size: 38px;
  font-family: "inter";
}

.fs-50 {
  font-size: 50px;
  font-family: "inter";
}

.fs-67 {
  font-size: 67px;
  font-family: "inter";
}

.fs-60 {
  font-size: 60px;
  font-family: "inter";
}

.fc-red {
  color: #c62c11;
}

.fc-white {
  color: white;
}

.fc-red-heart {
  color: #7e0b02;
}

.fc-green {
  color: #00917c;
}

.fc-white {
  color: #ffffff;
}

.color-white {
  color: #ffffff;
}
/* end font */

/* text style */
.ts-center {
  text-align: center;
}

.ts-right {
  text-align: right;
}

.ts-left {
  text-align: left;
}
/* end text style */

/* start row */
.row1 {
  width: 100%;
  height: 110px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none;
}

.row1 .text-pad {
  margin-top: 36px;
  margin-bottom: 36px;
  margin-left: 50px;
  margin-right: 10px;
}

.row1 .card-pad {
  height: 40px;
  margin-top: 36px;
  margin-bottom: 36px;
  border-radius: 10px;
  border: none;
}

.row-tgl {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.baris {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.date-today {
  width: 1351px;
  background-color: #ffff;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1), -4px 4px 6px rgba(0, 0, 0, 0.1),
    4px -4px 6px rgba(0, 0, 0, 0.1), -4px -4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #dfe2e6;
}

.date-today p {
  padding: 5px;
  margin-left: 800px;
}

.date-today ul {
  list-style-type: none;
  margin: 5px;
  padding: 0;
  /* overflow: hidden; */
  padding: 5px;
}

.date-today ul li {
  float: left;
  margin: 3px;
}

.date-today ul li a:link,
.date-today ul li a:visited,
.date-today ul li a:focus,
.date-today ul li a:hover {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 5px 15px;
  text-decoration: none;
  /* background-color: #81c0ff; */
  border-radius: 10px;
  font-size: 25px;
}

.date-today ul li a:active {
  background-color: #81c0ff;
  color: white;
}

.row2 {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.row2 .colom1 {
  width: 262px;
  height: 1346px;
  box-shadow: -4px -4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  border: none;
  border-right: 3px solid #dfe2e6;
  border-bottom: 3px solid #dfe2e6;
}

.box-card {
  width: 223px;
  height: 110px;
  border-radius: 10px;
  padding: 5px, 10px, 5px, 10px;
  border: none;
  margin-top: 21px;
  margin-left: 21px;
}

.card-rupiah {
  width: 176px;
  height: 86px;
  background-color: #81c0ff;
  /* font-size: 25px;
  font-weight: 500; */
  border-radius: 10px;
  padding: 10px;
}

.card-tb-permohonan {
  border-radius: 10px;
  width: 209px;
  height: 104px;
  border: none;
  margin-bottom: 10px;
}

.card-tb-permohonan1 {
  border-radius: 10px;
  width: 209px;
  height: 148px;
  border: none;
  margin-bottom: 10px;
}

.card-tb-value {
  height: 40px;
  border: none;
  width: auto;
  display: inline-block;
  border-radius: 10px;
}

.card-potensi {
  /* height: 65px; */
  border-radius: 10px;
  border: none;
  width: auto;
  display: inline-block;
  padding: 5px;
}

.total-value {
  font-family: "inter";
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  /* text-align: left; */
  /* margin-left: 10px; */
}

.total-value-pbg {
  font-family: "inter";
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  font-size: 40px;
  text-align: left;
  margin-left: 10px;
}

.total-text {
  font-family: "inter";
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  font-size: 18px;
  text-align: left;
  margin-left: 10px;
}

.total-text-pbg {
  font-family: "inter";
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  font-size: 17px;
  text-align: left;
  margin-left: 10px;
  /* margin-top: -8px; */
}

.row2 .colom2 {
  /* width: 1108px; */
  border: none;
}

.container-colom2 {
  display: flex;
  align-items: stretch;
}

.c2-b1 {
  height: 306px;
  border-radius: 0;
  border: none;
  border-bottom: 3px solid #dfe2e6;
}

.row2 .colom2 .potensi-card {
  border-radius: 0;
  border: none;
  height: 428px;
  width: 557px;
  background-color: white;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.1);
}

.row2 .colom1 .c2-b2-c1 {
  height: 337px;
  border: none;
  border-radius: 0;
  border-bottom: 3px solid #dfe2e6;
}

.row2 .colom2 .c2-b2-c2 {
  width: 794px;
  height: 339px;
  border: none;
  border-radius: 0;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.1);
}

.row2 .colom1 .c2-b2-c1 p {
  margin-top: 10px;
  margin-left: 35px;
  margin-right: 35px;
}

.col2-kosong {
  width: 278px;
  height: 411px;
  border: none;
}

.col2-berkas-total {
  height: 462px;
  width: 816px;
  border: none;
  border-radius: 0;
  margin: 0;
  /* margin-top: -25px; */
  border-top: 3px solid #dfe2e6;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.1);
}

.col2-berkas {
  height: 412px;
  width: 100%;
  background-color: #ffffff;
}

.col-triangle {
  width: 45px;
  height: 412px;
  background-color: white;
  border-right: 3px solid #dfe2e6;
}

.card-tt-tolak {
  /* margin-top: 10px; */
  width: 208px;
  height: 153px;
  border: none;
  border-radius: 10px;
  margin-left: 35px;
}

.boxColom1 {
  width: 548px;
}

.berkas-terbit {
  width: 528px;
  height: 428px;
  border: none;
  border-radius: 0;
  background-color: #ffffff;
  border-right: 3px solid #dfe2e6;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.1);
}

.text-dputr {
  color: #00917c;
  font-size: 50px;
  font-family: "inter";
  font-weight: 500;
}

.proses-penerbitan {
  width: 274px;
  height: 410px;
  border-right: 3px solid #dfe2e6;
  border-top: 3px solid #dfe2e6;
  background-color: #ffff;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.1);
}

.separator-berkas1 {
  width: 278px;
  height: 45px;
  border-right: 3px solid #dfe2e6;
}

.separator-berkas2 {
  width: 270px;
  height: 45px;
  border-right: 3px solid #dfe2e6;
  border-bottom: 3px solid #dfe2e6;
}

.card-ptsp {
  /* margin-top: -2px; */
  width: 267px;
  height: 462px;
  background-color: #ffffff;
  border-right: 3px solid #dfe2e6;
  border-top: 3px solid #dfe2e6;
}

.card-ptsp-atas {
  height: 409px;
  width: 100%;
}

.card-ptsp-bawah {
  border-top: 3px solid #dfe2e6;
  height: 53px;
  width: 100%;
}

.card-dputr {
  /* margin-top: -2px; */
  width: 267px;
  height: 410px;
  background-color: #ffffff;
  /* border-top: 3px solid #dfe2e6; */
  border-right: 3px solid #dfe2e6;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.1);
}

.separator-dputr {
  width: 45px;
  height: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.belum-verif {
  width: 543px;
  height: 410px;
  background-color: #ffffff;
  border-top: 3px solid #dfe2e6;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-luar {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 228px;
  height: 145px;
  border-radius: 10px;
}

.row2 .card-tt-tolak2 {
  width: 217px;
  height: 134px;
  border: none;
  border-radius: 10px;
  border: 5px solid #ffffff;
  margin-bottom: 0;
}

.row2 .colom2-separator1 {
  width: 264px;
  height: 44px;
  border-radius: 0;
  border: none;
}
.row2 .colom2-separator2 {
  width: 264px;
  height: 44px;
  border-radius: 0;
  border: none;
  /* border-bottom: 3px solid #dfe2e6; */
}

.row2 .colom2-separator3 {
  width: 557px;
  height: 44px;
  border-radius: 0;
  border: none;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.1);
}

.row3 {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.row3 .colom {
  width: 1340px;
  height: 375px;
  border: none;
  border-radius: 0;
  /* border-right: 3px solid #dfe2e6; */
  /* border-bottom: 3px solid #dfe2e6; */
  /* box-shadow: -10px 0px 10px -5px rgba(0, 0, 0, 0.5), 10px 0px 10px -5px rgba(0, 0, 0, 0.5); */
  box-shadow: -4px 0px 6px rgba(0, 0, 0, 0.1), 4px 0px 6px rgba(0, 0, 0, 0.1);
}

.row3 .colom2 {
  width: 1005px;
  height: 375px;
  border: none;
  border-radius: 0;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.1);
}

.text-actual-verif {
  /* margin-right: 25px; */
  text-align: right;
  font-weight: 500;
  font-size: 50px;
  color: #c62c11;
  margin-top: 10px;
}

.text-actual-ptnsi-verif {
  margin-right: 25px;
  text-align: right;
  font-weight: 500;
  font-size: 50px;
  color: #00917c;
  margin-top: 10px;
}

.text-blm-actual-verif {
  text-align: left;
  font-weight: 500;
  font-size: 50px;
  color: #c62c11;
  margin-top: 15px;
  margin-left: 85px;
}

.row4 {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.row4 .separator1-row4-col1 {
  border: none;
  border-radius: 0;
  width: 335px;
  height: 48px;
  /* box-shadow: -4px 0px 6px rgba(0, 0, 0, 0.1);
  border-right: 3px solid #dfe2e6;
  border-bottom: 3px solid #dfe2e6; */
}

.separator1-row2-col2 {
  border: none;
  border-radius: 0;
  width: 280px;
  height: 45px;
  border-right: 3px solid #dfe2e6;
  border-bottom: 3px solid #dfe2e6;
  /* box-shadow: -4px 0px 6px rgba(0, 0, 0, 0.1); */
}

.separator1-row2 {
  border: none;
  border-radius: 0;
  width: 274px;
  height: 53px;
  border-right: 3px solid #dfe2e6;
  /* border-left: 3px solid #dfe2e6; */
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.1);
}

.separator2-row2 {
  border: none;
  border-radius: 0;
  width: 545px;
  height: 53px;
  /* border-bottom: 3px solid #dfe2e6; */
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.1);
}

.row5 {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.row5 .colom1 {
  width: 670px;
  height: 720px;
  border: none;
  border-radius: 0;
  border-right: 3px solid #dfe2e6;
  box-shadow: -4px 0px 6px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0);
}

.separator1-row5 {
  border: none;
  border-radius: 0;
  height: 48px;
  width: 335px;
  border-top: 3px solid #dfe2e6;
  border-right: 3px solid #dfe2e6;
  box-shadow: -4px 0px 6px rgba(0, 0, 0, 0.1);
}

.separator2-row5 {
  border: none;
  border-radius: 0;
  height: 48px;
  width: 335px;
  border-bottom: 3px solid #dfe2e6;
}

.row5 .colom2 {
  width: 670px;
  height: 720px;
  border: none;
  border-radius: 0;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.1);
}

.row2 .luar-box {
  height: 124px;
  width: 181px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.box-dinas-perizinan {
  width: 166px;
  height: 109px;
  border-radius: 10px;
  border: 5px solid #ffffff;
}

/* end row */

/* tri angle */
.triangle {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}

.triangle-bottoms {
  width: 30px;
  height: 15px;
  border-top: solid 14px #000;
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
}

.triangle-top {
  width: 30px;
  height: 15px;
  border-bottom: solid 15px rgb(0, 0, 0);
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
}

.triangle-left {
  width: 30px;
  height: 15px;
  border-right: solid 15px rgb(0, 0, 0);
  border-bottom: solid 15px transparent;
  border-top: solid 15px transparent;
}

.triangle-right {
  width: 30px;
  height: 15px;
  border-left: solid 15px rgb(0, 0, 0);
  border-bottom: solid 15px transparent;
  border-top: solid 15px transparent;
}

.custom-container {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.flex-x-center {
  justify-content: center;
}

.flex-x-end {
  display: flex;
  justify-content: flex-end;
}

.flex-x-start {
  display: flex;
  justify-content: flex-start;
}

/* table */

/* YourComponent.module.css */
/* .table-container {
  overflow: auto;
  max-height: 700px;
} */

.horizontal-scroll {
  overflow-x: auto;
}

.vertikal-scroll {
  overflow-x: auto;
}

.row-tab {
  width: 1347px;
  background-color: white;
  border-top: 3px solid #dfe2e6;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1), -4px 4px 6px rgba(0, 0, 0, 0.1),
    4px -4px 6px rgba(0, 0, 0, 0.1), -4px -4px 6px rgba(0, 0, 0, 0.1);
}

/* YourComponent.css */
.datatab {
  margin: 25px;
  border-collapse: collapse; /* Membuat batas antar sel tabel menjadi satu untuk menghasilkan garis tepi yang rapi */
  width: 1299px;
}

.datatab th,
.datatab td {
  border: 1px solid rgb(228, 228, 228); /* Menambahkan garis tepi pada sel header dan sel data */
  padding: 8px; /* Padding pada sel */
  text-align: left; /* Posisi teks pada sel menjadi kiri */
}

.datatab th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.datatab tr.bg-pink {
  background-color: #d29f9f;
}

.datatab tr:nth-child(even) {
  background-color: rgba(0, 145, 124, 0.35);
}

.datatab tr:nth-child(odd) {
  background-color: #dfe2e6;
}

.margin-auto-left{
  margin-left: auto;
}

.legend {
  margin-left: auto;
  margin-right: 20px;
}

.iconLegend {
  margin-top:8px;
  font-size: 25px;
}

.tableDialog {
  border-collapse: collapse;
  width: 100%;
  /* border: 1px solid #000000; */
  /* overflow: auto; */
  font-size: 20px;
  font-family: "inter";
}

.tableDialog th,
.tableDialog td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
}

.buttonIcon {
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
}

.buttonClose {
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 30px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 17px;
  font-family: "inter";
}

.pagination button.active {
  background-color: rgba(0, 145, 124, 0.35);
  color: rgb(0, 0, 0);
  border-color: rgba(0, 145, 124, 0.35);
}

.serch {
  width: 1209px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid grey;
  font-size: 17px;
  font-family: "inter";
}

.searchBtn{
  margin-left: 20px;
  width: 70px;
  border-radius: 10px;
  padding: 10px;
}

.selectOptionst {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid grey;
  font-size: 17px;
  font-family: "inter";
}
/* end tabel */

.dialog {
  border-radius: 5px;
  position: fixed;
  width: 1200px;
  height: 350px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffdc75;
  padding: 20px;
  border-radius: 8px;
  border: 3px solid black;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); */
}

.dialogInformasi {
  border-radius: 5px;
  position: fixed;
  width: 1200px;
  height: 600px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffdc75;
  padding: 20px;
  border-radius: 8px;
  border: 3px solid black;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); */
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* Menempatkan di atas elemen lain -tambahan*/
}

.dialog-overlay-usaha {
  position: fixed;
  top: 30%;
  left: 24%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* Menempatkan di atas elemen lain -tambahan*/
}

.dialogUsaha{
  width: 663px;
  height: 326px;
  background-color: white;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.popupLegend {
  display: block;
  position: absolute;
  width: 447px;
  background-color: #ffffff;
  border: 5px solid black;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  z-index: 1000;
}

.popupLegend .notePopup {
  margin-left: 15px;
  margin-top: 15px;
  font-size: 25px;
  font-family: "inter";
  font-weight: 500;
}

.lengkap{
  width: 120px;
  height: 60px;
  background-image: linear-gradient(to right, #dfe2e6 50%,   #00917c 50%);
  border: none;
  margin-left: 15px;
  margin-bottom: 15px;
}

.tidak-lengkap{
  width: 120px;
  height: 60px;
  background-color: #d29f9f;
  border: none;
  margin-left: 15px;
  margin-bottom: 15px;
}

.costChart{
  height: 150px;
  padding: 15px;
}
.costKecil{
 background-color: #C62C11;
 border-top-left-radius: 20px;
 border-bottom-left-radius: 20px;
 font-size: 25px;
 color: white;
 font-weight: 500;
}

.costSedang{
  background-color: #AB1004;
  font-size: 25px;
 color: white;
 font-weight: 500;
}

.costBesar{
 background-color: #7E0B02;
 border-top-right-radius: 20px;
 border-bottom-right-radius: 20px;
 font-size: 25px;
 color: white;
 font-weight: 500;
}

.icon-grather-container {
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.icon-grather{
  font-size: 50px;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: 500;
  margin-top: -10px;
}

.legend-ket{
  font-size: 25px;
  font-family: "inter";
  margin-left: 15px;
  margin-top: 10px;
}
.popup {
  display: block;
  position: absolute;
  width: 322px;
  background-color: #ffdc75;
  border: 5px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  z-index: 1000;
}

.popup .notePopup {
  margin-left: 15px;
  margin-top: 15px;
  font-size: 25px;
  font-family: "inter";
  font-weight: 500;
}

.popup .noteIsi {
  padding: 15px;
  font-size: 20px;
  font-family: "inter";
  margin-top: -25px;
  font-weight: 500;
}


/* //loading spiner */

.loading-outer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate-outer 1.5s linear infinite forwards;
  position: relative;
}
.loading-outer .loading-inner {
  width: 70px;
  height: 70px;
  border-radius: inherit;
  border: 5px solid rgba(255, 255, 255, 0.8);
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: rotate-inner 1.5s linear infinite forwards;
  position: absolute;
}

.loading-cell{
  margin-left: 600px;
}


.center-table tr {
  width: 100%;
  text-align: center; /* Pusatkan konten dalam sel */
}

.iconStyle {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 40px;
  height: 40px;
  /* font-size: 20px;   */
  border: 2px solid black;
  border-radius: 50%;
};

.stacked{
  height: 330px;
  width: 38px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.stacked-top{
  background-color: #D2222D;
  height: 110px;
  color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-items: center;
  position: relative;
}

.stacked-top span {
  transform: rotate(90deg); 
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.stacked-center{
  background-color: #FFBF00;
  height: 110px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.stacked-center span {
  transform: rotate(90deg); 
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.stacked-under{
  background-color: #238823;
  height: 110px;
  color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.stacked-under span {
  transform: rotate(90deg); 
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.macet-plan{
  background-color: #D2222D;
  height: 180px;
  color: white;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-items: center;
  position: relative;
}

.macet-plan span {
  transform: rotate(90deg); 
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(-90deg);
}


@keyframes rotate-outer {
  50% {
    transform: rotate(200deg);
 }
}
@keyframes rotate-inner {
  50% {
    transform: rotate(-400deg);
 }
}
